---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Opalstone Kingdom">
  <main>
    <div class="grow flex flex-col justify-center">
      <h1>Welcome to <span class="text-gradient">Opalstone Kingdom</span></h1>
    </div>
    <footer class="text-center text-base text-gray-400 pb-8">
      <a href="https://beian.miit.gov.cn/" target="_blank">京ICP备2024073763号</a>
    </footer>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    padding: 1rem;
    padding-top: 10rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    margin-top: -10rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
